
.about{
    background-color: #000000;
    background-image: url("../asset/productbg.jpg");
    background-repeat: no-repeat;
    background-position:center center; 
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100vw;
    background-size:auto; 
}



.org_chart{
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about>.title>h1{
    color: white;
    font-family: baseNeu;
    font-size: 3em;
    text-transform: uppercase;
}

.about_us>.title>h1{
    color: white;
    font-family: baseNeu;
    font-size: 3em;
    text-transform: uppercase;
}

.org_chart>.title>h1{
    color: rgb(0, 0, 0);
    font-family: baseNeu;
    font-size: 3em;
    text-transform: uppercase;
}



.about_content>.contentt{
    margin-left: 10%;
}

.about_us_content{
    margin-left: 10%;
    margin-right: 10%;
}

.about_content>.contentt>p{
    color: rgb(224, 224, 224);
    font-family:helvetica;
    font-size: 1.2vw;
    text-align: justify ;
}

.about_us_content>.us_content>p{
    color: rgb(224, 224, 224);
    font-family:helvetica;
    font-size: 18px;
    text-align: justify ;
}

.about_content>.img-container>img{
    height: 30vw;
    width: 30vw;
    margin-right: 15%;
    margin-left: 5%;
    margin-bottom: 50px;
    border-radius: 15px;
    border:  #ffffff solid 1px;
}
.about_content>.img-container>video{
    height: 35vw;
    width: 30vw;
    margin-right: 15%;
    margin-left: 5%;
    margin-bottom: 50px;
    border-radius: 15px;
    border:  #ffffff solid 1px;
    filter: brightness(100%);
}
.about_us_content>img{
    height: 25vw;
    margin-right: 5%;
    margin-left: 3%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.products>.card{
    height: 40%;
    width: 20%;
    margin-bottom: 20px;
    border-radius: 15px;
    border:  #ffffff solid 1px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #000000;
    transition: all 0.3s ease;
}
.products>.card>.productcardbg{
    width: 100%;
   
}
.products>.card>.productcardbg>img{
    width: 100%;
    border-radius: 15px;
}

.products a{
    display: block;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    margin-left: 50px;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    background: #000057;
    transition: all 0.3s ease;
  }
  .products a:hover{
    background: #E0BF00;
    transform: scale(0.8);
    transition: all 0.9s ease;
  }
  #switch:checked ~ .outer a{
    background: #fff;
    color: #E50914;
  }




.contentt{
    width: 100%;
   
   line-height: 45px;
    margin-top: 20px;
}
.contentt p{
    width: 80%;
    
}
  .card{
    width: fit-content;
  }

  .fa-arrow-left-long{
    color: white;
    font-size: 20px;
    padding-bottom: 22px;
    padding-left: 10px;
  }

  .nav-bar>.icon{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    background-color: transparent;
  }
  .nav-bar>.icon:hover{
    background-color: #bbbbbb46;
  }

  .service{
    display: flex;
    justify-content: left;
  }

  #pic_1{
    height: 20vw;
    border-radius: 10px;
    border:  #ffffff solid 1px;
    margin-right: 50px;
  }



@media screen and (max-width: 1200px){

    .about_us_content>.us_content>p{
        color: rgb(224, 224, 224);
        font-family:helvetica;
        font-size: 18px;
        text-align: justify ;
    }

} 


@media screen and (max-width: 800px){

    .about_content{
        display:block;
    }

    .service{
        display: block;
    }

    .about_content>.content>p{
        font-size: 1em;
    }

    .about_content>.content{
        margin-left: 5%;
        margin-right: 5%;
    }

    .about_content>img{
        width: 90%;
        height: auto;
        margin-right: 5%;
        margin-left: 5%;
    }

    #pic_1{
        width: 90%;
        height: auto;
        margin: 10px 5% 20px 5%;
    }

    .div_center{
        margin-top: 20px;
        margin-left: 40px;
    }

    .content>.btn_align{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content a{
        margin-bottom: 40px;
    }

    .about_us_content>.us_content>p{
        color: rgb(224, 224, 224);
        font-family:helvetica;
        font-size: 16px;
        text-align: justify ;
    }

    .org_chart>.title>h1{
        font-size: 2.2em;
    }

    .org_chart>.org_chart_content>img{
        width: 85vw;
    }

    .about_us_content{
        margin-left: 5%;
        margin-right: 5%;
    }

} 
