
  .top_section{
    width: 100vw;
    background-color: black;
  }
  
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    filter: brightness(50%);
  }
  
    .img::before{
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
    .center{
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      padding: 0 20px;
      text-align: center;
    }
    .center .tag{
      color: #fff;
      font-family: overglow;
      letter-spacing: 5px;
      font-size: 40px;
      font-weight: 600;
      text-shadow: 1px 1px #E0BF00;
      margin-bottom: 50px;
    }
    .center .title{
      color: #fff;
      font-family: baseNeu;
      font-size: 50px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title>#first{
      color: #E0BF00;
      font-family: baseNeu;
      font-size: 50px;
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 2px 2px #363636;
    }
  
  
  @media only screen and (max-width: 1300px){
    video{
      object-fit:calc(10);
    }
    .center{
      width: 100%;
    }
  
    .center .tag{
      font-size: 30px;
    }
  
    .center .title{
      font-size: 30px;
    }
    .title>#first{
      font-size: 30px;
    }
  } 
  
  /* @media only screen and (max-width: 600px){
  
      
  }  */